.error{
    font-weight: bold;
    color: red;
}

.warn{
    color: #cf0000;
}

/* #searchBox{
    min-height: 55px;
    min-width: 100px;
} */

.item-box {
    border: 5px solid #eeeeee;
    margin: 0 auto;
}

.cart {
    width: 120px;
    height: 40px;
    border: 3px solid #17a2b8;
    border-radius: 5px;
    margin-left: auto;
    margin-top: 0;

}
.cart i{
    text-align: center;
    /* display: block; */
    font-size: 30px;
}
.cart h3{
    text-align: center;
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: #2F3B53;
}

.category-head a, .category-item a{
    font-size: 1.5rem;
    text-decoration: none;
    /*color: #f4f4f4;*/
}

.category-head a{
    color: #f4f4f4;
}

.category-item a{
    color: #111111;
}